<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HockeySDK.Core" version="4.1.6" targetFramework="net45" />
  <package id="HockeySDK.WPF" version="4.1.6" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.6.13" targetFramework="net45" />
  <package id="HtmlAgilityPack.CssSelectors" version="1.0.2" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.4.3" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="1.6.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation.ReferenceAssemblies" version="12.0.21005.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="SciChart" version="4.2.2.9744" targetFramework="net452" />
  <package id="SciChart.DirectX" version="4.2.2.9744" targetFramework="net452" />
  <package id="SharpDX" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.D3DCompiler" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.Direct3D10" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net452" />
  <package id="Telegram.Bot" version="13.4.0" targetFramework="net45" />
</packages>